.BotanicalLogo{
    position: absolute;
    width: 110px;
    height: 110px;
    top: 5px;
    left: 2px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

  @media screen and (max-width: 720px) {
    .BotanicalLogo{
        position: absolute;
        width: 80px;
        height: 80px;
        top: 5px;
        left: 2px;
        /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
        filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
    }
}


@media screen and (max-width: 400px) {
    .BotanicalLogo{
        position: absolute;
        width: 65px;
        height: 65px;
        top: 5px;
        left: 2px;
        /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
        filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
    }
  }