.Compass{
    position: absolute;
    left: 15px;
    bottom: 20px;
    width: 43px;
    height: 43px;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    
}
.N{
    color: black;
    font-weight: 600;
    color: white;
    font-size: 8px;
    margin-bottom: 5px;
    


}
.c-img{
    /* transform: rotate(-45deg); */
    width: 22px;
    filter: invert();

}

