.PlotCard-slidein{
    width: 320px;
    background-color: rgba(0, 0, 0, 0.85);
    color:white;
    position: absolute;
    right: 0px;
    top: 0;
    overflow: hidden;
    transition: all .4s ease;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
    transition: all .4s cubic-bezier(.54,.84,.69,.56);
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    z-index: 9999999;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: 1s;
    animation-duration: 1s;
    animation-name: slidein;

}

.PlotCard-slideout{
    width: 320px;
    background-color: rgba(0, 0, 0, 0.85);
    color:white;
    position: absolute;
    right: -350px;
    top: 0;
    overflow: hidden;
    transition: all .4s ease;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
    transition: all .4s cubic-bezier(.54,.84,.69,.56);
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    z-index: 9999999;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: 1s;
    animation-duration: 1s;
    animation-name: slideout;

}


@keyframes slidein {
    from {
      right: -350px;
      top: 0;
    }
  
    to {
        right: 0;
        top: 0;
    }
  }

  @keyframes slideout {
    from {
        right: 0;
        top: 0;
    }
  
    to {
        right: -350px;
        top: 0;
    }
  }

.PlotBody{
    margin: 20px;
    
}

.plotElement{
    margin-bottom: 18px;
   
}
.PlotElementHeading{
    font-size: 16px;
    letter-spacing: 0.8px;
    /* text-transform: uppercase; */
    text-align: left;
}

.PlotElementBody{
    font-size: 1rem;
    letter-spacing: 0.8px;
    /* text-transform: uppercase; */
    text-align: left;
    color: #ffd56d;
}

.plotStausElement{
    margin: 20px;
    margin-bottom: 18px;
   
   
}
.PlotStatusElementHeading{
    font-size: 16px;
    letter-spacing: 0.8px;
    /* text-transform: uppercase; */
    text-align: left;
   
}

.PlotStatusElementBody{
    font-size: 1rem;
    letter-spacing: 0.8px;
    /* text-transform: uppercase; */
    text-align: left;
    color: #ffd56d;
}

.sold{
    color: red;
}

.available{
    color: rgb(0, 255, 0);
}

/* @media screen and (max-width: 1125px) {
    .PlotCard{
        height: 250px;
        display: flex;
        flex-direction: row;
        overflow: scroll;
        overflow-x: hidden;
    }
  } */
  @media screen and (max-width: 400px) {
    .image-container{

      width: calc(100vw - 50px);
  
  }
  .container {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  }