.Pointer{
    position: absolute;
    z-index: 999999;
    bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0,0.5));
    animation: MoveUpDown 5s ease infinite;
   
}

.body{
      font-size: 11px;
      font-weight: 500;
      background-color: #ffbe00;;
      width: 160px;
      height: 17px;
      color: #362a82;;
      /* color: black; */
      padding: 4px 10px;
      border-radius: 6px;
      letter-spacing: 0.4px;
      word-spacing: 1px;
      display: flex;
      align-items: center;
      justify-content: center;
      -webkit-user-select: none;
      -ms-user-select: none; 
      user-select: none; 
}
.hand{
    width: 20px;
    color: #ffbe00;
    margin: 5px;
    width: 18px;
}

@keyframes MoveUpDown {
    0%, 100% {
      bottom: 20px;
      opacity: 0;
    }
    40% {
        bottom: 60px;
        opacity: 1;
      }
    50% {
      bottom: 60px;
      opacity: 1;
    }
    60% {
        bottom: 60px;
        opacity: 1;
      }
  }
