.Pointer{
    position: absolute;
    z-index: 2;
    bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0,1));
    animation: MoveUpDown 5s ease linear;
   /* background-color: red; */
    width: 180px;
    margin-left: calc(50% - 100px);
  
   
}

.body{
  font-size: 9px;
      font-weight: 500;
    
      background-color:#ffBe00;
      width: 140px;
      height: 17px;
    
      color: rgb(0, 0, 0);
      /* color: black; */
      padding: 3px 6px;
      border-radius: 6px;
      letter-spacing: 1px;
      /* word-spacing: 2px; */
      display: flex;
      align-items: center;
      justify-content: center;
      -webkit-user-select: none;
      -ms-user-select: none; 
      user-select: none; 
}
.hand{
  
   
    margin: 5px;
    width: 15px;
}

@keyframes MoveUpDown {
    0%, 100% {
      bottom: 20px;
      opacity: 0;
    }
    40% {
        bottom: 60px;
        opacity: 1;
      }
    50% {
      bottom: 60px;
      opacity: 1;
    }
    60% {
        bottom: 60px;
        opacity: 1;
      }
  }
