.Share{
    width: 50px;
    height: 50px;
    /* background-color: rgba(0, 0, 0, 0.85); */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    right: 15px;
    cursor: pointer;
    z-index: 9999;
}

.ShareControl{
    background-color: rgba(0, 0, 0, 0.85);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.ShareImg{
     width: 22px;
     filter: invert();
}



.socialIconsActive {
    position: absolute;
   
    border-radius: 2px;
    color:white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .4s ease;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
    transition: all .4s cubic-bezier(.54,.84,.69,.56);
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 80px;
    right: 15px;
    outline: none;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: 1s;
    animation-duration: 0.3s;
    animation-name: slideUp;
}

@keyframes slideUp {
    from {
      height: 0;
    }
  
    to {
        height: 200px;
    }
  }

  .socialIconsDeactive {
    position: absolute;
    border-radius: 2px;
    color:white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .4s ease;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
    transition: all .4s cubic-bezier(.54,.84,.69,.56);
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 80px;
    right: 15px;
    outline: none;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: 1s;
    animation-duration: 0.3s;
    animation-name: slideDown;
    height: 0px;
}

@keyframes slideDown {
    from {
      height: 200px;
    }
  
    to {
        height: 0px;
    }
  }



  .ShareIcon {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.85);
    /* padding: 10px; */
    /* height: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
   
    cursor: pointer;
    /* margin: 20px; */
  }

  .ShareIconBody {
    width: 25px;
    height: 25px;
  }