/* img{
    width: 100vw;
    height: auto;
    overflow: hidden;
    margin: auto;
}

.Image-Container{
    display: block;
    overflow: hidden;
    cursor: grab;
    display: flex;
   background-color:seagreen;
   transition : background-color 5s ease; 
}
.Plots-Body{
    width: 100%;
    height:  100vh;
    display: flex;
    margin: 0px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    align-self: center;
    place-self: center;
    justify-self: center;
}
.Plot-Container{
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
}


@media only screen and (max-width : 1122px) {
    img{
       width: auto;
        height: 100vh;
        overflow: hidden;
        margin: auto;
        
    }
  } */

.image-container{
   
    
    height: 636px;
    width: 1125px;
    /* scale: 1; */
   margin-left: auto;
   margin-right: auto;
   display: block;
  
   
   /* overflow:hidden; */
   /* background-color: red; */
   
    /* background-color:#0a3600; */
  
    /* background-image: url('https://i.pinimg.com/originals/89/9d/da/899dda241eca5e959d9d945f45aba682.gif'); */
}
  /* .image-container{
    
    transition: transform .4s; 
   
    margin: 0px;
   
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: red;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    align-self: center;
    place-self: center;
    justify-self: center;

  
} */

.container {
  /* color: rgba(255, 0, 0, 0.5); */
  /* top: 0;
  left: 0;
  position: fixed; */
  /* cursor:grab; */
  /* width: 100vw; */
  /* height:  2000px; */
  /* color:rgba(255, 0, 0, 0.2); */
display: inline-block;
overflow: hidden;
margin-top: 40px;
margin-bottom: 40px;
border: 20px;
border: 5px solid black;
border-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  
    /* display: flex;
    /* overflow: hidden; */
    /* justify-content: center;
    align-items: center; */ 
    /* align-self: center; */
    /* place-self: center; */
    /* justify-self: center; */
    /* background-color:#0a3600; */
  
   
   
    }

 
    ::-webkit-scrollbar {
   height: 3px;
      width: 4px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey; 
      border-radius: 10px;
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: red; 
      border-radius: 10px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #b30000; 
    }